body {
background: #000;
color: #fff;
font-family: Arial;
}

.hero {
display: flex;
justify-content: space-between;
align-items: center;
padding: 60px;
}

.hero-art {
display: flex;
flex-direction: column;
align-items: center;
}

.hero-logo-3d {
max-width: 400px;
}

.hero-logo-texto img {
width: 280px;
margin-top: 20px;
}
